@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #006ad4;
  border-radius: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.cleaner {
  clear: both;
}

.active {
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

#hero-section {
  padding-top: 300px;
  width: 100%;
  background-color: #23324d;
  height: 1000px;
}
#hero-section .center-block {
  width: 90%;
  height: 85vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#hero-section .center-block .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: transparent;
  transition: all 1s;
}
#hero-section .center-block .header.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  background: #006ad4;
  transition: all 1s;
}
#hero-section .center-block .header.active nav {
  margin-right: 0px;
}
#hero-section .center-block .header #logo {
  margin-left: 50px;
}
#hero-section .center-block .header nav {
  width: 700px;
  margin-right: 50px;
}
#hero-section .center-block .header nav #menu-button {
  display: none;
}
#hero-section .center-block .header nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
#hero-section .center-block .header nav ul li a {
  font-size: 18px;
  padding: 10px 10px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
  border-radius: 15px;
}
#hero-section .center-block .header nav ul li a:hover {
  color: #000000;
}
#hero-section .center-block .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#hero-section .center-block .wrapper #hero-txt {
  width: 800px;
  height: 500px;
  display: flex;
  flex-direction: column;
}
#hero-section .center-block .wrapper #hero-txt hgroup {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
#hero-section .center-block .wrapper #hero-txt hgroup h1 {
  font-size: 40px;
  letter-spacing: 1px;
}
#hero-section .center-block .wrapper #hero-txt hgroup h2 {
  font-size: 60px;
  letter-spacing: 1px;
}
#hero-section .center-block .wrapper #hero-txt .dynamic-txt {
  width: 25ch;
  color: #006ad4;
  animation: typing 5s steps(50), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid #006ad4;
  font-size: 50px;
  font-weight: bold;
}
#hero-section .center-block .wrapper #hero-txt #buttons {
  width: 350px;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
#hero-section .center-block .wrapper #hero-txt #buttons a {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #006ad4;
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: inset 0 0 0 50px #006ad4;
  transition: ease-out 0.2s;
}
#hero-section .center-block .wrapper #hero-txt #buttons a:hover {
  background: transparent;
  box-shadow: inset 0 0 0 0 #006ad4;
  border-color: #006ad4;
  cursor: grab;
}
#hero-section .center-block .wrapper figure {
  width: 450px;
  height: 550px;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}
#hero-section .center-block .wrapper figure #hello-txt {
  width: 170px;
  height: 170px;
  background-color: #006ad4;
  border-radius: 50%;
  font-family: "Architects Daughter", cursive;
  letter-spacing: 1px;
}
#hero-section .center-block .wrapper figure #hello-txt p {
  font-size: 20px;
  font-weight: bold;
  padding: 20px 25px;
  text-align: center;
  color: #f7f5f1;
}

#about-sec {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 80px 0px;
}
#about-sec h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
#about-sec h1::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #006ad4;
  border-radius: 15px;
}
#about-sec h1::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #006ad4;
  border-radius: 15px;
}
#about-sec .center-block {
  width: 90%;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  margin: 40px 0;
}
#about-sec .center-block .my-infos {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#about-sec .center-block .my-infos h2 {
  font-size: 28px;
  color: #006ad4;
  font-weight: bold;
}
#about-sec .center-block .my-infos h3 {
  font-size: 23px;
}
#about-sec .center-block .my-infos p {
  font-size: 20px;
}
#about-sec .center-block .my-infos .lang {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
#about-sec .center-block figure img {
  transition: 0.5s;
  filter: brightness(0.8);
  filter: drop-shadow(8px 10px 12px #000000);
  border-radius: 25px 5px 25px 5px;
}
#about-sec .center-block figure img:hover {
  transform: scale(1.05);
}

#services-sec {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 80px 0px;
  background-color: #006ad4;
}
#services-sec h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
#services-sec h1::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #f7f5f1;
  border-radius: 15px;
}
#services-sec h1::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #f7f5f1;
  border-radius: 15px;
}
#services-sec .center-block {
  width: 90%;
  display: flex;
  margin: 20px 0px;
  justify-content: space-between;
  flex-wrap: wrap;
}
#services-sec .center-block .serv-box {
  width: 400px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  transition: 0.5s;
  margin: 15px;
}
#services-sec .center-block .serv-box:hover {
  transform: scale(1.05);
}
#services-sec .center-block .serv-box .icon {
  font-size: 70px;
  margin-bottom: 30px;
}
#services-sec .center-block .serv-box h2 {
  font-size: 25px;
  margin-bottom: 30px;
}
#services-sec .center-block .serv-box p {
  font-size: 18px;
}

#skills-sec {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 80px 0px;
}
#skills-sec h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
#skills-sec h1::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #006ad4;
  border-radius: 15px;
}
#skills-sec h1::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #006ad4;
  border-radius: 15px;
}
#skills-sec .center-block {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#skills-sec .center-block .skill-box {
  width: 400px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  transition: 1s;
  margin: 15px;
}
#skills-sec .center-block .skill-box:first-child .skill-icon {
  color: #ff6600;
}
#skills-sec .center-block .skill-box:nth-child(2) .skill-icon {
  color: blue;
}
#skills-sec .center-block .skill-box:nth-child(3) .skill-icon {
  color: #6610f2;
}
#skills-sec .center-block .skill-box:nth-child(4) .skill-icon {
  color: #ffc403;
}
#skills-sec .center-block .skill-box .skill-icon {
  font-size: 100px;
  background: transparent;
  margin-bottom: 30px;
}
#skills-sec .center-block .skill-box h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
#skills-sec .center-block .skill-box p {
  font-size: 20px;
}

#projects-sec {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 80px 0px;
  background-color: #006ad4;
}
#projects-sec h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
#projects-sec h1::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #f7f5f1;
  border-radius: 15px;
}
#projects-sec h1::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #f7f5f1;
  border-radius: 15px;
}
#projects-sec .center-block {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 15px;
}
#projects-sec .center-block .project {
  width: 700px;
  text-align: center;
  position: relative;
  margin: 25px 15px 25px 0px;
}
#projects-sec .center-block .project .site-details {
  width: 700px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  background-color: #000000;
  padding: 20px 0px;
  display: none;
}
#projects-sec .center-block .project .site-details p {
  padding: 10px;
  font-size: 25px;
  color: #f7f5f1;
}
#projects-sec .center-block .project:hover a img {
  filter: grayscale(100%);
}
#projects-sec .center-block .project:hover .site-details {
  display: block;
}

#contact-sec {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 40px 0px 80px 0px;
  background-color: #d1d1d1;
}
#contact-sec h1 {
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0px;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
#contact-sec h1::before {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #006ad4;
  border-radius: 15px;
}
#contact-sec h1::after {
  content: "";
  display: inline-block;
  width: 30%;
  height: 4px;
  background-color: #006ad4;
  border-radius: 15px;
}
#contact-sec .center-block {
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
  flex-wrap: wrap;
}
#contact-sec .center-block form {
  width: 30%;
}
#contact-sec .center-block form div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
#contact-sec .center-block form div input {
  padding: 15px;
  border-radius: 5px;
  border: transparent;
  font-size: 15px;
}
#contact-sec .center-block form div:first-child input {
  width: 45%;
}
#contact-sec .center-block form div:nth-child(2) input {
  width: 100%;
}
#contact-sec .center-block form div:nth-child(3) #service {
  width: 100%;
  padding: 15px 10px;
  border-radius: 5px;
  border: transparent;
  font-size: 15px;
}
#contact-sec .center-block form div:last-child {
  justify-content: center;
}
#contact-sec .center-block form div:last-child input {
  width: 45%;
  text-transform: uppercase;
  font-weight: bold;
}
#contact-sec .center-block form div textarea {
  width: 100%;
  border-radius: 5px;
  border: transparent;
  padding: 15px;
  font-size: 15px;
}
#contact-sec .center-block #large-map {
  display: none;
}
#contact-sec .center-block #contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
#contact-sec .center-block #contact-info .info {
  display: flex;
  align-items: center;
}
#contact-sec .center-block #contact-info .info .contact-icon {
  font-size: 25px;
}
#contact-sec .center-block #contact-info .info p {
  margin-left: 20px;
  font-size: 25px;
}
#contact-sec .center-block #contact-info .info:nth-child(2) p {
  margin-left: 25px;
}
#contact-sec .center-block #contact-info a {
  color: #000000;
}

footer {
  width: 100%;
  padding-top: 20px;
  background-color: #000000;
  color: #f7f5f1;
}
footer .center-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .center-block .footer-wrap {
  padding-top: 30px;
  margin-bottom: 100px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .center-block .footer-wrap #social-media {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
footer .center-block .footer-wrap #social-media a {
  display: flex;
  align-items: center;
}
footer .center-block .footer-wrap #social-media a .social-icons {
  font-size: 30px;
}
footer .center-block .footer-wrap #social-media a:first-child:hover {
  color: #025fa6;
}
footer .center-block .footer-wrap #social-media a:nth-child(2):hover {
  color: #b804b5;
}
footer .center-block .footer-wrap #social-media a:nth-child(3):hover {
  color: #273575;
}
footer .center-block .footer-wrap #social-media a:last-child:hover {
  color: #4b00b5;
}
footer .center-block .footer-wrap #useful-links {
  display: flex;
  width: 40%;
  justify-content: space-between;
}
footer .center-block .footer-wrap #useful-links a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}
footer .center-block .footer-wrap #useful-links a .footer-icons {
  font-size: 30px;
}
footer .center-block .footer-wrap #useful-links a .footer-icons:hover {
  color: #006ad4;
}
footer .center-block .footer-wrap #useful-links a P {
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;
  background-color: #3f4142;
  padding: 5px;
  margin-top: 15px;
  position: absolute;
  bottom: -50px;
  display: none;
}
footer .center-block .footer-wrap #useful-links a:hover p {
  display: inline-flex;
}
footer .center-block #copyright {
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
}
footer .center-block #copyright P {
  font-size: 18px;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */