@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
$crna: #000000;
$bela: #ffffff;
$plava: #006ad4;
$heroplava: #23324d;
$zelena: #375350;
$bela2: #f7f5f1;
$krem: #e29a75;
$fontJosefin: 'Josefin Sans', sans-serif;
@mixin about-info{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
} 
@mixin about-podnaslov{
    font-size: 28px;
    color: $plava;
    font-weight: bold;

}
@mixin naslovsekcija{
    font-size: 30px;
    font-weight: bold;
    padding: 30px 0px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    &::before{
        content: "";
            display: inline-block;
            width: 30%;
            height: 4px;
            background-color: $plava;
            border-radius: 15px;
    }
    &::after{
        content: "";
            display: inline-block;
            width: 30%;
            height: 4px;
            background-color: $plava;
            border-radius: 15px;
    }
}
@mixin section-container ($width,$flex-direction,$align-items,$padding)
{
    display: flex;
    width: $width;
    flex-direction: $flex-direction;
    align-items: $align-items;
    padding: $padding;
}
@keyframes typing{
    from{
        width: 0;
    }
}
@keyframes blink{
    50%{
        border-color: transparent;
    }
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: $plava;
    border-radius: 10px;
}
body{
    font-family: $fontJosefin;
}
.cleaner{
    clear: both;
}
.active{
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: $bela;
}
#hero-section{
    padding-top: 300px;
    width: 100%;
    background-color: $heroplava;
    height: 1000px;
    .center-block{
        width: 90%;
        height: 85vh;
        margin: 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;       
        .header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 100;
            background: transparent;
            transition: all 1s;
            &.active{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                z-index: 100;
                background: $plava;
                transition: all 1s;
                nav{
                    margin-right: 0px;
                }
            }
            #logo{
                margin-left: 50px;
            }
            nav{
               width: 700px;
               margin-right: 50px;
                #menu-button{
                    display: none;
                }
                ul{
                    list-style-type: none;
                    display:flex;
                    justify-content: space-between;
                    li{
                        a{
                            font-size: 18px;
                            padding: 10px 10px;
                            text-transform: uppercase;
                            font-weight: bold;
                            transition: 0.3s;
                            border-radius: 15px;
                            &:hover{
                                color: $crna;
                            }
                        }
                    }
                }
            }
        }
        .wrapper{
            width: 100%;
            display: flex;
            justify-content: space-between;           
            #hero-txt{
                width: 800px;
                height: 500px;
                display: flex;
                flex-direction: column;               
                hgroup{
                    display: flex;
                    flex-direction: column;
                    color: $bela;
                    h1{
                        font-size: 40px;
                        letter-spacing: 1px;
                    }
                    h2{
                        font-size: 60px;
                        letter-spacing: 1px;
                    }
                }
                .dynamic-txt{
                    width: 25ch;
                    color: $plava;
                    animation: typing 5s steps(50), blink .5s step-end infinite alternate;
                    white-space: nowrap;
                    overflow: hidden;
                    border-right: 2px solid $plava;
                    font: {
                        size: 50px;
                        weight: bold;
                    }
                }
                #buttons{
                    width: 350px;
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    a{
                        padding: 10px 40px;
                        font-size: 18px;
                        font-weight: bold;
                        letter-spacing: 2px;
                        background-color: $plava;
                        border: 2px solid transparent;
                        border-radius: 20px;
                        box-shadow: inset 0 0 0 50px $plava;
                        transition: ease-out 0.2s;
                        &:hover{
                            background: transparent;
                            box-shadow: inset 0 0 0 0 $plava;
                            border-color: $plava;
                            cursor: grab;
                        }
                    }
                }
            }
            figure{              
                width: 450px;
                height: 550px;
                display: flex;
                justify-content: center;
                align-self: flex-end;
                #hello-txt{
                   width: 170px;
                   height: 170px;
                   background-color: $plava;
                   border-radius: 50%;
                   font-family: 'Architects Daughter', cursive;
                   letter-spacing: 1px;
                   p{
                       font-size: 20px;
                       font-weight: bold;
                       padding: 20px 25px;
                       text-align: center;
                       color: $bela2;
                   }
               }
            }
        }
    }
}
#about-sec{
    @include section-container(100%,column,center,40px 0px 80px 0px);
    h1{
        @include naslovsekcija();
    }
    .center-block{
        width: 90%;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
        margin: 40px 0;
        .my-infos{
            @include about-info;
            h2{
                @include about-podnaslov;
            }
            h3{
                font-size: 23px;
            }
            p{
                font-size: 20px;
            }
            .lang{
                width: 70%;
                display: flex;
                justify-content: space-between;
            }
        }
        figure{
            img{               
                transition: 0.5s;
                filter:brightness(0.8);
                filter: drop-shadow(8px 10px 12px $crna);
                border-radius: 25px 5px 25px 5px;              
                &:hover{
                    transform: scale(1.05);
                }               
            }
        }
    }
}
#services-sec{
    @include section-container(100%,column,center,40px 0px 80px 0px);
    background-color: $plava;
    h1{
        font-size: 30px;
        font-weight: bold;
        padding: 30px 0px;
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        &::before{
            content: "";
                display: inline-block;
                width: 30%;
                height: 4px;
                background-color: $bela2;
                border-radius: 15px;
        }
        &::after{
            content: "";
                display: inline-block;
                width: 30%;
                height: 4px;
                background-color: $bela2;
                border-radius: 15px;
        }
    }
    .center-block{
        width: 90%;
        display: flex;
        margin: 20px 0px;
        justify-content: space-around;
        flex-wrap: wrap;
        .serv-box{
            width: 400px;
            background-color: $bela;
            border-radius: 20px;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            transition: 0.5s;
            margin: 15px;
            &:hover{
                transform: scale(1.05);
            }
            .icon{
            font-size: 70px;
            margin-bottom: 30px;
            }
            h2{
                font-size: 25px;
                margin-bottom: 30px;
                text-transform: uppercase;
            }
            p{
                font-size: 20px;         
                font-weight: 700;     
            }
        }
    }
}
#skills-sec{
    @include section-container(100%,column,center,40px 0px 80px 0px);
    h1{
        @include naslovsekcija();
    }
    .center-block{
        width: 90%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .skill-box{
            width: 400px;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: justify;
            transition: 1s;
            margin: 15px;
            &:first-child{ 
                .skill-icon{
                    color: #ff6600;
                }
            }
            &:nth-child(2){
              
                .skill-icon{
                    color: blue;
                }
            }
            &:nth-child(3){
               
                .skill-icon{
                    color: #6610f2;
                }
            }
            &:nth-child(4){
              
                .skill-icon{
                    color: #ffc403;
                }
            }
            .skill-icon{
                font-size: 100px;
                background: transparent;
                margin-bottom: 30px;               
            }
            h2{
                font-size: 25px;
                margin-bottom: 15px;
            }
            p{
                font-size: 20px;             
            }
        }
    }  
}
#projects-sec{
    @include section-container(100%,column,center,40px 0px 80px 0px);
    background-color: $plava;
    h1{
        font-size: 30px;
        font-weight: bold;
        padding: 30px 0px;
        display: flex;
        width: 40%;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
        &::before{
            content: "";
                display: inline-block;
                width: 30%;
                height: 4px;
                background-color: $bela2;
                border-radius: 15px;
        }
        &::after{
            content: "";
                display: inline-block;
                width: 30%;
                height: 4px;
                background-color: $bela2;
                border-radius: 15px;
        }   
    }
    .center-block{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 15px;
        .project{
            width: 700px;
            text-align: center;
            position: relative;
            margin: 25px 15px 25px 0px;
            .site-details{
                width: 700px;
                position: absolute;
                bottom: 0;
                z-index: 10;
                background-color: $crna;
                padding: 20px 0px;
                display: none;
                p{
                    padding: 10px;
                    font-size: 25px;
                    color: $bela2;
                }
            }
            &:hover{
                a{
                    img{
                        filter: grayscale(100%)
                    }
                }
                .site-details{
                    display: block;
                }
            }
        }        
    }
}
#contact-sec{
    @include section-container(100%,column,center,40px 0px 80px 0px);
    background-color: #d1d1d1;
    h1{
        @include naslovsekcija()
    }
    .center-block{
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        flex-wrap: wrap;
        form{
            width: 30%;
            div{
                display: flex;
                justify-content: space-between;
                margin-bottom: 15px;
                input{
                    padding: 15px;
                    border-radius: 5px;
                    border: transparent;
                    font-size: 15px;                   
                }
                &:first-child{
                    input{
                        width: 45%;
                    }
                }
                &:nth-child(2){
                    input{
                        width: 100%;
                    }
                }
                &:nth-child(3){
                    #service{
                    width: 100%;
                    padding: 15px 10px;
                    border-radius: 5px;
                    border: transparent;
                    font-size: 15px;          
                    }
                }
                &:last-child{
                    justify-content: center;
                    input{
                        width: 45%;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                textarea{
                    width: 100%;
                    border-radius: 5px;
                    border: transparent;
                    padding: 15px;
                    font-size: 15px;       
                }
            }
        }
        #large-map{
            display: none;
        }   
        #contact-info{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;    
            .info{
                display: flex;
                align-items: center;
                .contact-icon{
                    font-size: 25px;
                }
                p{
                    margin-left: 20px;
                    font-size: 25px;
                }
                &:nth-child(2){
                    p{
                        margin-left: 25px;
                    }
                }    
            }
            a{
                color: $crna;
            }
        }
    }
}
footer{
    width: 100%;
    padding-top: 20px;
    background-color: $crna;
    color: $bela2;
    .center-block{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footer-wrap{
        padding-top: 30px;
        margin-bottom: 100px;
        width: 70%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        #social-media{
            width: 20%;
            display: flex;
            justify-content: space-around;
            a{
                display: flex;
                align-items: center;
                .social-icons{
                    font-size: 30px;
                }
                &:first-child:hover{
                    color: #025fa6;
                }
                &:nth-child(2):hover{
                    color: #b804b5;
                }
                &:nth-child(3):hover{
                    color: #273575;
                }
                &:last-child:hover{
                    color: #4b00b5;
                }
            }
        }
        #useful-links{
            display: flex;
            width: 40%;
            justify-content: space-between;
            a{                       
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                position: relative;
                z-index: 10;
                .footer-icons{
                    font-size: 30px;
                    &:hover{
                        color: $plava;
                    }
                }          
                P{
                    font-size: 15px;
                    text-transform: uppercase;
                    margin-left: 10px;
                    background-color: #3f4142;
                    padding: 5px;
                    margin-top: 15px; 
                    position: absolute;
                    bottom: -50px;
                    display: none;                 
                }
                &:hover{
                    p{
                        display: inline-flex;
                    }
                }
            }
        }
    }
        #copyright{
            text-align: center;
            height: 50px;
            display: flex;
            align-items: center;
            P{
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}
    
        

